{{#each this}}
<div class = "country-card">
    <div class="country__head">
     <img class="country__img" src="{{flags.svg}}" alt="Flag" width="50" height="25">
     <h1 class="country__title>{{name.official}}</h1>
     </div>
     <div class="country__info">
    <h2>Capital:</h2>
    <p>{{capital}}</p>
    <h2> Population:</h2>
    <p>{{population}}</p>
    <h2>Languages:</h2>
    {{#each languages}}
    <p>{{this}}</p>
    {{/each}}
    </div>
</div>
{{/each}}